name: Continuous Deployment (Prod)
on:
  push:
    branches: [ main ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Docker login
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKERHUB_SECRET }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: piyush1008/todo-app-next:${{ github.sha }}

      - name: Clone staging-ops repo, update, and push
        env:
          PAT: ${{ secrets.PAT }}
        run: |
          git clone https://github.com/piyush1008/argocd-rev
          cd argocd-rev
          ls
          sed -i 's|image: piyush-1008/todo-app-next:*|image: piyush-1008/todo-app-next:${{ github.sha }}|' frontendmanifest.yml
          git config user.name "GitHub Actions Bot"
          git config user.email "actions@github.com"
          git add frontendmanifest.yml
          git commit -m "Update todonext-app image to ${{ github.sha }}"
          git push https://${PAT}@github.com/piyush1008/argocd-rev.git main